body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.site_container {
  display: flex;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: rgb(240, 240, 255);
}

main {
  background-color: rgb(240, 248, 255);
  flex: 1;
}

main h1 {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid darkgrey;
  margin: 0.5rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product_info {
  padding: 1rem;
}